/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/.vs/
/Assets/AssetStoreTools*
/UnityPackageManager/

/Assets/[Dd]ependencies/
/Assets/[Dd]d/
Assets/[Dd]d.meta
Assets/dependencies.meta


ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb


*.pidb.meta

sysinfo.txt

*.apk

*.usertasks

*.resources
test-results/

/BUILD/
*.DS_store
